p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.infobox {
  padding: 1em;
  background: #CFDCE3;
  color: black;
  border-radius: 20px;
}
.infobox-header {
  text-align: left;
  font-size: 150%;
}